{{define "title"}}Create a New Snippet{{end}}

{{define "main"}}
    <!-- form作为包裹所有表单的基础结构,接收用户的数据并返回 -->
    <!-- 同样是路径出现了问题 前缀/是绝对路径 没加变成相对路径就会变成相对于当前页面所在目录的子路径 -->
    <!-- 以网站根目录为基准POST到/snippet/create -->
    <!-- INFO 2025/02/19 11:52:11 [::1]:5894 - HTTP/1.1 POST /snippet/snitppe/create -->
    <form action="/snippet/create" method="POST">

        <div>
            <label for="">Title:</label>
            <input type="text" name="title">
        </div>

        <div>
            <label for="">Content:</label>
            <textarea name="content" id=""></textarea>
        </div>
        
        <div>
            <label for="">Delete in:</label>
            <input type="radio" name="expires" value="365" checked> One Year
            <input type="radio" name="expires" value="7"> One Week
            <input type="radio" name="expires" value="1"> One Day
        </div>
        <div>
            <input type="submit" value="Publish snippet">
        </div>
    </form> 
{{end}}