{{define "title"}}创建一个新消息{{end}}

{{define "main"}}
    <!-- form作为包裹所有表单的基础结构,接收用户的数据并返回 -->
    <!-- 同样是路径出现了问题 前缀/是绝对路径 没加变成相对路径就会变成相对于当前页面所在目录的子路径 -->
    <!-- 以网站根目录为基准POST到/snippet/create -->
    <!-- INFO 2025/02/19 11:52:11 [::1]:5894 - HTTP/1.1 POST /snippet/snitppe/create -->
    <form action="/snippet/create" method="POST">
        <!-- 隐藏的CSRFToken -->
         <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div>
            <label for="">标题:</label>
            <!-- 使用with关键字检查值是否存在 存在的话就直接输出 -->
             <!-- 字典字段的key可以直接通过.来访问 大小写都行 -->
            {{with .Form.FieldErrors.title}}
            <label for="" class="error">{{.}}</label>
            {{end}}
            <!-- 对于input通过指定value进行内容重新填充 -->
            <input type="text" name="title" value="{{.Form.Title}}">
        </div>

        <div>
            <label for="">内容:</label>
            {{with .Form.FieldErrors.content}}
            <label for="" class="error">{{.}}</label>
            {{end}}
            <!-- 对于textarea直接写入即可 -->
            <textarea name="content" id="">{{.Form.Content}}</textarea>
        </div>
        
        <div>
            <label for="">时效:</label>
            {{with .Form.FieldErrors.expires}}
            <label for="" class="error">{{.}}</label>
            {{end}}
            <!-- checked 指的是默认选项 -->
            <input type="radio" name="expires" value="365" {{if (eq .Form.Expires 365)}}checked {{end}}> 一年
            <input type="radio" name="expires" value="7" {{if (eq .Form.Expires 7)}} checked {{end}}> 一周
            <input type="radio" name="expires" value="1" {{if (eq .Form.Expires 1)}} checked {{end}}> 一天
        </div>
        <div>
            <input type="submit" value="创建消息">
        </div>
    </form> 
{{end}}