{{define "title"}}Home{{end}}

{{define "main"}}
    <h2>最新消息</h2>
    {{if .Snippets}}
        <table>
            <tr>
                <th>标题</th>
                <th>创建时间</th>
                <th>ID</th>
            </tr>
            <!-- 遍历最新的10条内容输出 -->
            {{range .Snippets}}
            <tr>
                <td><a href="/snippet/view/{{.ID}}">{{.Title}}</a></td>
                <td>{{humanDate .Created}}</td>
                <td>#{{.ID}}</td>
            </tr>
            {{end}}
        </table>
    {{else}}
        <p>There is nothing to see here yet...</p>
    {{end}}
{{end}}