{{define "title"}}账号信息{{end}}

{{define "main"}}

    <h2>账号信息</h2>
    {{with .User}}
    <table>
        <tr>
            <th>昵称</th>
            <td>{{.Name}}</td>
        </tr>
        <tr>
            <th>邮箱</th>
            <td>{{.Email}}</td>
        </tr>
        <tr>
            <th>账号创建时间</th>
            <td>{{humanDate .Joined}}</td>
        </tr>
        <tr>
            <th>密码</th>
            <td><a href="/account/password/update">修改密码</a></td>
        </tr>
    </table>
    {{end}}

{{end}}