<!-- basetemplate中写入大多数页面共享的信息 -->

{{define "base"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "title" .}}</title>
    <!-- 链接css与图标 浏览器会使用get请求自动进行 通过设置的fileserver直接定位到文件位置 -->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/img/favicon.ico" type="image/x-icon">
    <!-- 链接到字体 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
</head>
<body>
    <header>
        <h1><a href= '/'>SnippetBox</a></h1>
    </header>
    {{template "nav" .}}
    <main>
        <!-- 如果存在flash信息就将其展示 专门用于展示flash的槽-->
        {{with .Flash}}
            <div class="flash">{{.}}</div>
        {{end}}

        {{template "main" .}}
    </main>
    <footer>
        <!-- 所有模板都可以正常读取到传入的结构体 -->
        Powered by <a href="https://golang.org/">Go</a> in {{.CurrentYear}}
    </footer>
</body>
</html>

{{end}}